.fondo {
    background-color: #252B43;;
    padding: 15px;
}

.input {
    background-color: white;
    width: 100%;
}

.date {
    background-color: white;
}

.inputDate {
    margin:auto;
    justify-content: center;
}

