
.tittle {
    font-family: "Courier New", Courier, monospace;
    font-size: 38px;
    letter-spacing: 2.6px;
    word-spacing: 3.4px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.fondo {
    background-color: #252B43;
    padding: 15px;
}